/*Default CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1240px;
    margin: auto;
}

.img{
    max-width: 100%;
}

/* header-section */
.header-section {
}
.header-section .menu {
}
.header-section .menu ul {
    background-color: #000000;
    text-align: center;
}
.header-section .menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 15px;
    font-size: 15px;
}
.header-section .menu ul li a {
    color: white;
    text-decoration: none;
}

/* 2nd menu */
.header-section .menu ul li ul{
    position: absolute;
    background-color: black;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    border-top: 5px solid rgb(49, 150, 239);
}
.header-section .menu ul li ul li{
    width: 250px;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 50, 50);
    
}
.header-section .menu ul li ul li a{}

/* Hover Part */
.header-section .menu ul li:hover >a{
    color: #ddd;
}
.header-section .menu ul li:hover > ul{
   opacity: 1;
   visibility: visible;
}
.header-section .menu ul li ul li:hover{
    background-color: rgb(49, 150, 239);
   
}

/* 3rd-menu */
.header-section .menu ul li ul li ul{
    left: 100%;
    top: 37px;
    
}
.header-section .menu ul li ul li ul li{}
.header-section .menu ul li ul li ul li a{}


/* List Style section */
.list-style-section{}

.list-style-section .header-liststyle{
    border: 2px dashed #e3dede;
    height: 300px;
}
.list-style-section .header-liststyle h1{
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

.liststyle-items{
    font-size: 16px;
}

/* List style Type Unorder list Order List */

.liststyle-items .list-1{
    width: 30%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
}

.liststyle-items .list-1 ul{
    display: inline-block;
    margin-top: 10px;
    list-style-position: inside;
    border: 2px solid red;
}
.liststyle-items .list-1 ul li{list-style-type: square;}

.liststyle-items .list-2{ 
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    text-align: center;
}

.liststyle-items .list-2 ul{
    list-style-position: outside;
    margin-left: 50px;
    display: inline-block;
    margin-top: 10px; 
    border: 2px solid red;
}
.liststyle-items .list-2 ul li{
    list-style-type: disclosure-closed;}

.liststyle-items .list-3{
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    text-align: center;
    border: 1px solid #000;
}

.liststyle-items .list-3 ul{
    list-style-image: url("candle.png");
    margin-top: 10px;
    border: 2px solid red;
}
.liststyle-items .list-3 ul li{}

/* List style Type, Position */

.liststyle-items .list-4{
    width: 30%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
}

.liststyle-items .list-4 ul{
    display: inline-block;
    margin-top: 10px;
    list-style-position: inside;
    border: 2px solid red;
}
.liststyle-items .list-4 ul li{list-style-type: disclosure-closed;margin-left: 5px;}

.liststyle-items .list-5{ 
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    text-align: center; 
}

.liststyle-items .list-5 ul{
    list-style-position: outside;
    margin-left: 50px;
    display: inline-block;
    margin-top: 10px; 
    border: 2px solid red;
}
.liststyle-items .list-5 ul li{
    list-style-type: disclosure-closed;}

.liststyle-items .list-6{
    width: 30%;
    display: inline-block;
    margin-left: 2%;
    text-align: center; 
    /*! border: 1px solid #000; */
}

.liststyle-items .list-6 ul{
    list-style-image: url("52666_download_files_icon.png");
    margin-top: 10px;
    /*! border: 2px solid red; */
}
.liststyle-items .list-6 ul li{list-style-image: url('48773_download_load_icon.png');}


/*Footer Section*/
.footer{
    
}
.footer-content{
    background: #000;
    color: #fff;
    padding: 15px;
}
.footer-content p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.footer-icon{
   
    background-color: #000;
    padding: 0px 0px 20px 0px;
}

.footer-icon .Social-Menu{ 
    text-align: center; 
}
.footer-icon .Social-Menu li{
    display: inline-block;
}
.footer-icon .Social-Menu li a{
    color: #1c7ee6b8;
    font-size: 35px;
    margin-left: 15px;
    transition: .5s;
}
.footer-icon .Social-Menu li a:hover{
    color: rgba(231, 231, 21, 0.735);
}